.line {
  width: 6rem;
  height: 1rem;
  border: 3px solid black;
  display: flex;
  user-select: none;
}

.line.correct {
  border: 3px solid green;
}

.line.incorrect {
  border: 3px solid red;
}

.line-left,
.line-middle,
.line-right {
  height: 100%;
  width: 100%;
}

.line-middle {
  display: grid;
  place-items: center;
  font-weight: bolder;
  color: transparent;
}

.old-yin .line-middle {
  text-shadow: 0 0 0 black;
}

.old-yang .line-middle {
  text-shadow: 0 0 0 white;
}

.line.yang .line-left,
.line.yang .line-middle,
.line.yang .line-right {
  background-color: black;
}

.line.yin .line-left,
.line.yin .line-right {
  background-color: black;
}

.line.correlate .line-left,
.line.correlate .line-right,
.line.correlate .line-middle {
  background-color: purple;
}

.line.correlate.yin .line-middle {
  background: transparent;
}

/* if correct AND correlated, make border purple also */
.line.correct.correlate {
  border: 3px solid purple;
}
