html {
  scroll-behavior: smooth;
  scroll-padding-top: 30vh;
  scroll-snap-align: center;
}

.i-ching-container {
  /* display: flex;
  justify-content: space-around; */
  position: relative;
  height: 16rem;
}

label {
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.months {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
}
