.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  border-top: 2px solid white;
  padding: 10px 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  flex: 1;
}

.nav-item.active {
  color: var(--button-background-color); /* Adjust to your active color */
}

.icon {
  width: 24px;
  height: 24px;
}

.nav-label {
  margin-top: 5px;
  font-size: 16px;
}

.active {
  color: var(--button-background-color); /* Adjust to your active color */
}
