.hexagram {
  display: grid;
  gap: 0.4rem;
  place-items: center;
  transition: all 0.5s ease-in-out;
}

.hexagram.primary {
  z-index: 100;
  cursor: pointer;
  transform: translate(-150%, -50%);
}

.hexagram.primary,
.hexagram.transformed {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.hexagram.transformed {
  opacity: 0;
  transform: translate(-130%, -50%);
}

.show-transform .hexagram.primary {
  /* move to the left */
  transform: translate(-150%, -50%);
}

.show-transform .hexagram.transformed {
  /* move to the right */
  transform: translate(50%, -50%);
  opacity: 1;
}
